# Virtual environment
my_venv/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Streamlit secrets
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db